body{
    background: #403A3E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BE5869, #403A3E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BE5869, #403A3E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    max-width: 600px;
    margin: 0 auto;
}


.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    
    }
h1 {
    text-align: center;
    color: #fff
}
div div {
    border: 5px solid cornflowerblue;
    width: 100%;
    height: 170px;
    border-radius: 5px;
    background-color: cornflowerblue;
}

div div:hover {
    background-color: #403A3E;
}